body{
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
.navBar{
    clear: both;
    background-color: whitesmoke;
    width: 100%;
    height: 4vh;
}
.leftContainer{
    padding: 2%;
    text-align: center;
    float: left;
    color: goldenrod;
    width: 50%;
    height: 96vh;
    border-top: 2px solid goldenrod;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: darkgrey;
    opacity: 0.5;
    display: block;
}
.leftContainer h1{
    font-family: fantasy;
    font-size: 80px;
    text-shadow: 2px 2px black;
}
.leftContainer img{
    width: 100%;
    height: 100%;
}
#myWork {
    float: right;
    width: 30%;
    height: 30%;
    color: black;
    background-color: goldenrod;
}

#skillAndExperience {
    width: 40%;
    height: 40%;
    background-color: black;
}

#contactMe {
    width: 30%;
    height: 30%;
    float: left;
    color: black;
    background-color: goldenrod;
}

#aboutMe {
    width: 40%;
    height: 40%;
    float: right;
    color: goldenrod;
    background-color: black;
}

.rightContainer{
    float: left;
    width: 50%;
    height: 96vh;
    color: goldenrod;
    background-color: whitesmoke;
    border-top: 2px solid goldenrod;
    padding: 5%;
    text-align: center;
    font-family: fantasy;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fa {
    color: goldenrod;
    padding: 20px;
    font-size: 50px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    margin: 2% 2%;
}
.fa:hover{
    color: lightgrey;
    text-decoration: none;
}
.rightContainer p{
    color: goldenrod;
    text-shadow: 1px 1px grey;
    /* border-bottom: 2px solid goldenrod; */
}
@media only screen and (max-width: 600px){
    .leftContainer{
        width: 100%;
        height: 50vh;
    }
    .rightContainer{
        width: 100%;
        height: 50vh;
    }
}
#headTitle {
    color: darkgray;
    text-shadow: 1px 1px goldenrod;
}

#tweets {
    width: 500px;
    height: 50px;
}